* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;


}

.cardHighlight {
    min-height: 100%;
}

.subtitle {
    font-weight: bolder;
    font-size: large;
}

.courseCard {
    margin-bottom: 25px;
}

body
 {
    background: #e0d6c8;
}